body {
	margin: 0;
	padding: 0;
	font-family: 'Arial', serif;
	font-size: 14;
}

.nav {
	background-color: #ffffff;
	color: #000000;
	list-style: none;
	text-align: center;
	padding: 20px 0 0px 0;
}
.nav > li {
	display: inline-block;
	padding: 0 25px 0 25px;
	font-size: 16px;
}
.nav >li > a {
	text-decoration: none;
	color: #000000;
}

.nav > li > a:hover {
	color: #c1c1c1;
}
.logo {
	float: center;
	padding-left: 25px;
}
.banner {
	width: 100%;
	display: block;
}
.banner > .banner-image {
	width: 100%;
	display: block;
}
.service1 {
	width: 298px;
	border: 1px solid #c1c1c1; 
	margin:	20px 10px;
	padding: 0 5px;
	float: left;
}
.service1 > p {
	text-decoration: none;
	font-size: 14px;
	color: #636363;
	max-width: 250px;
	
}
.services {
	width: 1000px;
	margin: 0 auto;
}
h1 {
	font-size: 16px;
	font-weight: bold;
	background-color: #c1c1c1;
	color: #ffffff;
	padding: 10px 0;
	margin: 0 -6px;
	text-align: center;
	
}
.image {
	max-width: 200px;
	margin: 15px 0 0 0;
}
.heading {
	text-align: center;
	font-size: 25px;
	color: #000000;
	margin: 100px 0 50px 0;
}
.image:hover {
	opacity: 0.2;
	max-width: 200px;
	margin-top: 15px;
}
